<!DOCTYPE html>
<html>
  <head>
    <title>Time To Work</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <div class='row'>
        <% if notice.present? %>
          <div class="notification is-info is-light">
            <p id="notice"><%= notice %></p>
          </div>
        <% end %>
        <%= yield %>
      </div>  
    </div>  
  </body>
</html>
